
.container-holder{
  background-color: #FBF5DF;
}
.container-holder.dark {
  background-color: #2c2b2b; 
  color: #ffffff; 
}
.card {
    transition: transform 0.2s;
    background-color: rgb(214, 220, 224);
  }
  .card.dark{
    background-color: #0a0101; 
    color: #ffffff; 
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
.link-button {
    background-color:white;
    border: none;
    color: rgb(8, 7, 7);
    padding: 8px 15px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .link-button:hover {
    background-color: wheat;
    color: rgb(19, 18, 18);
    font-size: 18px;
  }
  .arrow-button{
    background-color: #152016;
    border: none;
    color: white;
    display: inline-block;
    font-size: 45px;
    cursor: pointer;
    outline: auto;
  }
  .arrow-button:hover {
    background-color: #0d0e0d;
    color: white;
    font-size: 50px;
  }
  .arrow-container{
    display: flex;
    align-items: center;
    justify-content: end;
   }


  