.search-drawer {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1050;
  transition: top 0.3s ease-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.search-drawer.open {
  top: 0;
}

.search-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.search-header h2 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  color: #333;
}

.close-button {
 width: 30px;
 height: 30px;
 padding: 0px;
 border: '2px solid #fff';
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5);
}

.search-input-container {
  margin-bottom: 15px;
}

.search-input {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.current-search-term {
  padding: 10px 15px;
  background-color: #f8f9fa;
  border-radius: 4px;
  color: #666;
  text-align: center;
}

.navbar-toggler {
    background-color: #000;
    border: 2px solid #fff;
    padding: 0.5rem;
    margin-right: auto;
  }
  
  .navbar-toggler-icon {
    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1.5em;
    height: 1.5em;
  }
  
  .navbar-toggler:hover {
    background-color: #fff;
    border-color: #000;
  }
  
  .navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-toggler:focus {
    outline: 2px solid white;
    outline-offset: 2px;
  }


  .dropdown-link{
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
  }
  .dropdown-link.dark{
    color: #bdb9b9;
  }
  .cont-link{
    color:whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .cont-link:hover{
    color: #f0f0f0;
  }
  .dropdown-link:hover{
    background-color: #bdb9b9;
    color: #000;
  }
 .icon{
  width: 20px;
  height: 20px;
  margin-right: 25px;
  color: #fff;
}
.top-navbar{
  background-color: #1874d7;
}
.top-navbar.dark{
  background-color: #000;
}
.dropdown-menu.dark{
  color: #f0f0f0;
  background-color: #333;
}
